mirrors:
  docker.io:
    endpoint:
      - "https://docker.m.daocloud.io"
      - "https://hub.rat.dev"
      - "https://dockerpull.org"
      - "https://dockerproxy.1panel.live"
      - "https://registry-1.docker.io"
  quay.io:
    endpoint:
      - "https://quay.m.daocloud.io"
      - "https://quay.nju.edu.cn"
      - "https://quay.io"
  ghcr.io:
    endpoint:
      - "https://ghcr.m.daocloud.io"
      - "https://ghcr.nju.edu.cn"
      - "https://ghcr.io"
  gcr.io:
    endpoint:
      - "https://gcr.m.daocloud.io"
      - "https://gcr.nju.edu.cn"
      - "https://gcr.io"
  k8s.gcr.io:
    endpoint:
      - "https://k8s.m.daocloud.io"
      - "https://gcr.nju.edu.cn/google-containers"
      - "https://k8s.gcr.io"
  registry.k8s.io:
    endpoint:
      - "https://k8s.m.daocloud.io"
      - "https://k8s.nju.edu.cn"
      - "https://registry.k8s.io"
